/* apps/frontend/src/app/css/App.css */

.navbar {
  padding: 15px 20px;
  background-color: #333;
  color: white;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.nav-link:hover {
  text-decoration: underline;
  color: #ddd;
}

.app-container {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background-color: #f4f4f9; /* Fondo gris claro para toda la app */
}

.home-title {
  text-align: center;
  margin-top: 50px;
  color: #444;
}